@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/components";
// Cleans up polluted styling
ul {
  margin-left: 0;
  margin-bottom: 0;
}
ul ul {
  margin: 0;
}