.controls {
  display: flex;
  justify-content: center;

  .button {
    padding: .75rem 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

.menu {
  display: flex;
  justify-content: center;

  padding-bottom: 2rem;
}

.menu-component {
  display: flex;
  justify-content: center;
}

.sequencer-grid {
  display: flex;
  justify-content: center;
  list-style: none;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  padding: 6rem;
}

.grid-column {
  display: flex;
  list-style: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column-reverse;
  border-radius: 5px;
  justify-content: center;

  @-webkit-keyframes blink {
    0%   { opacity: 0.6; }
    100% { opacity: 1; }
  }
  @-moz-keyframes blink {
    0%   { opacity: 0.6; }
    100% { opacity: 1; }
  }
  @-o-keyframes blink {
    0%   { opacity: 0.6; }
    100% { opacity: 1; }
  }
  @keyframes blink {
    0%   { opacity: 0.6; }
    100% { opacity: 1; }
  }

  &.playing {
    animation: blink 1s
  }

  &.active {
    background: lightslategrey;
  }
}

.step-button {
  width: 50px;
  height: 50px;
  background: $sb-inactive;
  border: 1px solid $sb-border;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;

  &.active {
    background: $sb-active;
  }

  &:hover {
    opacity: 0.6;
  }
}
